@import '../Services/Variables.scss';
.login{
    height:calc(100vh - 85px);
    display:flex;
    //justify-content:center;
    align-items:center;
    flex-direction:column;

    img.login-logo{
        margin-top:20px;
        width:180px;
        height: 110px;
    }
    p.login-p{
        font-size:20px;
        font-weight:600;
        color:#464646;
        margin-bottom: 20px;

    }
    form{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .input-login{
        margin-bottom:35px;
    }
    .login-registro{
        text-decoration: none;
        color: $btn-violeta;
        margin-top: 15px;
    }
}