@import '../Services/Variables.scss';

.login{
    height:calc(100vh - 85px);
    display:flex;
    //justify-content:center;
    align-items:center;
    flex-direction:column;

    img.login-logo{
        margin-top:20px;
        width:194px;
        height: 134px;
    }
    p.login-p{
        font-size:18px;
        font-weight:600;
        color:#464646;
        margin-bottom: 30px;

    }
    form{
        display:flex;
        justify-content:center;
        flex-wrap: wrap;
    }
    .input-login{
        margin-bottom:35px;
    }
}

.home{
    display:flex;
    //justify-content:center;
    //align-items:center;
    flex-direction:column;
    box-sizing: border-box;
    padding:25px;
    h2.home-tittle{
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        margin:24px 0 24px 0;
    }
}

.card-container-producto{
    display: flex;
    justify-content:center;
    align-items:center;
    width:90%;
    margin-left: 11px;
}

.faTrophy{
    color: $btn-violeta;
    font-size: 35px;
    margin: 10px;
}